body {
    background-color: gray
}
img {
    width: 15%;
    border-radius: 50%;
    display: inline;
    border: solid 13px rgb(71, 70, 70);
    margin: auto 8%;
    margin-bottom: 3%;
}
.top img {
    width: 100%;
    border: none;
    border-radius: unset;
    margin: 0 0;
    margin-bottom: 5%;
}